* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "BebasNeue Regular";
    src: url(fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: "BebasNeue Bold";
    src: url(fonts/BebasNeue-Bold.ttf);
}
@font-face {
    font-family: "BebasNeue Thin";
    src: url(fonts/BebasNeue-Thin.ttf);
}
@font-face {
    font-family: "BebasNeue Light";
    src: url(fonts/BebasNeue-Light.ttf);
}
@font-face {
    font-family: "OpenSans Light";
    src: url(fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: "OpenSans Regular";
    src: url(fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "OpenSans Bold";
    src: url(fonts/OpenSans-Bold.ttf);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Preview block */

.preview__container {
    max-width: 1438px;
    height: 769px;
    background: url(img/bg.jpg) no-repeat;
    background-position-x: center;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
}

.preview__container p {
    font-size: 1.5em;
    padding-top: 41px;
    padding-bottom: 317px;
}

.preview__container h1 {
    font-size: 60px;
    letter-spacing: 5.71px;
    line-height: 70px;
    font-family: "BebasNeue Regular";
    /* margin-bottom: 21px; */
}

.preview__container h4 {
    font-family: "OpenSans Light";
    letter-spacing: 1px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21.79px;
    margin-bottom: 221px;
}

.preview__container a {
    font-family: "OpenSans Light";
    letter-spacing: 3.7px;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 14.98px;
    color: #ffffff;
}

/* Header */

header {
    height: 65px;
    border-bottom: 1px solid #E6E6E6;
}

.header__container {
    margin: 0 auto;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 24px;
}

.header__container nav ul{
    display: flex;
    margin-top: 25px;
}

.header__container li:not(:last-child) {
    margin-right: 48px;
}

.header__container a {
    font-family: "OpenSans Regular";
    font-size: 12px;
    font-style: normal;
    line-height: 16.34px;
    letter-spacing: 1.09px;
    font-weight: 600;
    color: #48555B;
    transition: all.6s ease;
}

.header__container a:hover {
    color: #00A4E5;
    transition: all.6s ease;
}

/* main */

main {
    width: 75%;
    margin: 0 auto;
}

/* About us block */

.about__container h1 {
    margin-top: 57px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "OpenSans Bold";
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 2.31px;
    line-height: 24.51px;
    color: #48555B;
}

.line {
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    position: absolute;
    left: 48.5%;
    margin-bottom: 70px;
}

.about__text {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-column-gap: 10%;
}

.about__text__first h3 {
    font-family: "OpenSans Bold";
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 27.24px;
    width: 405px;
    color: #48555B;
    letter-spacing: 0.19px;
}

.about__text__first h5 {
    margin-top: 30px;
    font-family: "OpenSans Regular";
    font-size: 13px;
    font-weight: 400;
    font-size: normal;
    line-height: 23px;
    letter-spacing: 0.19px;
    color: #48555B;
}

.blue {
    color: #16ACE8;
}

.about__text__img {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 10%;
}

.first__img {
    padding-top: 20px;
    padding-left: 20px;
    width: 140px;
    height: 224px;
    background: url(img/Bitmap.png) no-repeat;
}

.first__img p {
    font-family: "OpenSans Bold";
    font-size: 24px;
    font-weight: 800;
    font-style: normal;
    line-height: 29px;
    letter-spacing: 0.19px;
    color: #ffffff;
}

.second__img {
    padding-top: 20px;
    padding-left: 20px;
    width: 140px;
    height: 224px;
    background: url(img/Bitmap_2.png) no-repeat;
}

.second__img p {
    font-family: "OpenSans Bold";
    font-size: 24px;
    font-weight: 800;
    font-style: normal;
    line-height: 29px;
    letter-spacing: 0.19px;
    color: #ffffff;
}

.third__img {
    padding-top: 20px;
    padding-left: 20px;
    width: 140px;
    height: 224px;
    background: url(img/Bitmap_3.png) no-repeat;
}

.third__img p {
    font-family: "OpenSans Bold";
    font-size: 24px;
    font-weight: 800;
    font-style: normal;
    line-height: 29px;
    letter-spacing: 0.19px;
    color: #ffffff;
}

/* Services block */

.services__container {
    margin-top: 119px;
}

.services__main {
    display: flex;
}

.services__main h4 {
    font-family: "OpenSans Bold";
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 2.31px;
    color: #48555B;
    margin-right: 155px;
    margin-bottom: 10px;
}

.services__main p {
    width: 405px;
    margin-right: 32px;
    font-family: "OpenSans Regular";
    font-style: normal;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #48555B;
}

.services__main .link {
    padding: 11px 29px 0 29px;
    background: #00A4E5;
    font-family: "OpenSans Bold";
    font-size: 13px;
    height: 30px;
    color: #ffffff;
}

.line2 {
    width: 50px;
    height: 2px;
    margin-top: 10px;
    background-color: #00A4E5;
}

.services__blocks {
    margin-top: 78px;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-column-gap: 3.5%;
}

.services__blocks h3 {
    font-family: "OpenSans Bold";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.43px;
    margin-top: 25px;
    margin-bottom: 13px;
    color: #48555B;
}

.services__blocks p {
    font-family: "OpenSans Regular";
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.19px;
    width: 250px;
    color: #48555B;
    margin-bottom: 39px;
}

.first__block, .second__block, .third__block {
    border: 1px solid #E6E6E6;
    padding-left: 23px;
    padding-top: 38px;
}

/* Contact block */

.contact__main__container {
    background: url(img/bg_contact.png);
    margin-top: 115px;
    height: 499px;
    width: 100% auto;
    text-align: center;
    padding-top: 120px;
}

.contact__main__container h2 {
    font-family: "OpenSans Bold";
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #48555B;
    margin-bottom: 35px;
}

.contact__main__container a {
    padding: 11px 26px 11px 26px;
    background: #00A4E5;
    font-family: "OpenSans Regular";
    font-size: 13px;
    letter-spacing: 0.5px;
    height: 40px;
    color: #ffffff;
}

/* Newsletter Signup Block */

.news__container {
    height: 100px;
    background: #171819;
    display: flex;
    margin-top: -9%;
    text-align: center;
}

.news__container p {
    margin-left: 378px;
    font-family: "OpenSans Bold";
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 0.85px;
    line-height: 19.07px;
    margin-top: 35px;
    margin-right: 70px;
}

.news__container input {
    width: 250px;
    height: 40px;
    margin-top: 30px;
    border: none;
    font-size: 14px;
    color: #48555B;
    padding-left: 16px;
    border-radius: 1px;
}

.news__container a {
    padding: 11px 48.5px 0 49.5px;
    background: #00A4E5;
    font-family: "OpenSans Regular";
    font-size: 13px;
    letter-spacing: 0.5px;
    height: 29.07px;
    margin-left: -2px;
    color: #ffffff;
    margin-top: 30px;
    border-radius: 1px;
}

/* Company footer */

.company {
    background: #141A20;
}

.company__container {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 250px 170px 240px 141px 150px;
    color: #ffffff;
}

.company__container h4 {
    font-family: "OpenSans Light";
    font-size: 11px;
    line-height: 14.98px;
    font-weight: 400;
    letter-spacing: 0.85px;
    margin-top: 42px;
}

.company__container ul {
    margin-top: 10px;
}

.company__container li {
    font-family: "OpenSans Regular";
    font-weight: 500;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 0.85px;
}

.company__container li a {
    color: #ffffff;

}

.company__second {
    margin-left: 71px;
}

.company__first img {
    margin-top: 19px;
    margin-bottom: 16px;
}

.company__first p {
    font-family: "OpenSans Light";
    font-weight: 400;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.85px;
    margin-bottom: 49px;
    /* margin-right: 71px; */
}

.company__third {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-column-gap: 10%;
    margin-left: 60px;
    margin-top: 67px;
}

.company__fourth p {
    font-family: "OpenSans Light";
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.85px;
    margin-top: 15px;
}

.company__fourth {
    margin-bottom: 39px;
}

.indent {
    padding-top: 3px;
    padding-bottom: 3px;
}

.company__fifth {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
    margin-top: 72px;
    margin-left: 46px;
    max-height: 13px;
}

.company__fifth img {
    width: 12.04px;
    height: 12.04px;
}

/* Footer */

footer {
    background: #171819;
    height: 60px;
    text-align: center;
    color: #ffffff;
}

footer p {
    font-family: "OpenSans Light";
    font-weight: 400;
    font-size: 11px;
    line-height: 14.98px;
    letter-spacing: 0.85px;
    padding-top: 22px;
}

@media screen and (min-width: 1300px) {
    .preview__container {
        max-width: 100%;
        background-size: cover;
    }
}